@model IEnumerable<SportsStore.WebUI.Models.ProductCategoryViewModel>
@using System.Linq
@if (ViewBag.SelectedCategory == null)
{
    <li class="active">
        <a href="@Url.Action("List","Product")">All <span class='badge'>@ViewBag.TotalCount</span></a>
    </li>
}
else
{
    <li>
        <a href="@Url.Action("List","Product")">All <span class='badge'>@ViewBag.TotalCount</span></a>
    </li>
}
@{
    int index = 0;


    foreach (var link in Model)
    {
        if (index < 5)
        {

            if (link.CategoryName == ViewBag.SelectedCategory)
            {
                <li class="active">
                    <a href="@Url.Action("List", "Product", new { CategoryID = link.CategoryID, CategoryName = link.CategoryName, page = 1 })">@link.CategoryName <span class='badge'>@link.ProductNos</span></a>
                </li>
                index++;
            }
            else
            {
                <li>
                    <a href="@Url.Action("List", "Product", new { CategoryID = link.CategoryID,CategoryName = link.CategoryName, page = 1 })">@link.CategoryName <span class='badge'>@link.ProductNos</span></a>
                </li>
                index++;
            }
        }
        else
        {
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle label-success drop-down-font" href="#">More Categories <b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                    @for (int extraSubMenu = index; extraSubMenu < Model.Count(); extraSubMenu++)
                    {
                        <li><a href="@Url.Action("List", "Product", new { CategoryID = Model.ElementAt(extraSubMenu).CategoryID, CategoryName = link.CategoryName, page = 1 })">@Model.ElementAt(extraSubMenu).CategoryName <span class='badge'>@Model.ElementAt(extraSubMenu).ProductNos</span></a></li>
                    }
                </ul>
            </li>
                    break;
        }
    }
}
