@model IDictionary<string,int>


<li>
    <a href="@Url.Action("List","Product")">All <span class='badge'>@ViewBag.TotalCount</span></a>
</li>


@foreach (var link in Model)
{
    <li>
        <a href="@Url.Action("List","Product",new{category=link.Key,page=1})">@link.Key <span class='badge'>@link.Value</span></a>
    </li>
}



