<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dotdotdot.min.js"></script>
    <script src="~/Scripts/jquery.jcarousellite.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/CustomScripts.js"></script>

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="#">
            SHOPPING STORE
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
        </ul>
        @Html.Action("Summary", "Cart")
        <form role="search" class="navbar-form navbar-right">
            <div class="form-group">
                <input type="text" placeholder="Search" class="form-control btn-sharp">
                <button type="submit" class="btn btn-success btn-sharp"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
    </div>
    <div style="max-width: 1000px" class="navbar center-block" role="navigation">
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav nav-tabs nav-pills nav-justified">
                @Html.Action("Menu", "Nav")
            </ul>
        </div>
    </div>
    <div class="container" id="CenteredContent">
        <div>
            @RenderBody()
        </div>
    </div>
    <footer class="footer footer-color" style="padding-bottom:0px;padding-right:0px;padding-left:0px">
        <div class="container footer-container">
            @Html.Partial("_FooterGeneralContent")
        </div>
    </footer>
</body>
</html>
