@model SportsStore.WebUI.Models.ProductImageViewModel

<div class="col-sm-3 col-md-3 thumbnail btn-sharp" style="margin: 5px">
    <div>
        <img src="@Model.ImagePath" width="100%" height="200px" alt="..." />
        <div class="caption">
            <div style="font-size:medium;font-weight:bold" class="clampString">@Model.Name</div>
            <div class="clampString">@Model.ShortDescription</div>
            <span style="text-align: center">
                <span style="font-size:medium;font-weight:bold">@Model.AltPrice.ToString("c")</span>
            </span>
        </div>
        <a href='@Url.Action("ProductView", new { controller = "QuickView", ProductID = Model.ProductID })' class="btn btn-info pull-left btn-sharp">Quick View</a>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success btn-sharp" value="Add to cart" />
            </div>
        }
    </div>
</div>
