@model SportsStore.Domain.Entities.Product

@*<div class="well">
    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right:10px">
            <img class="img-thumbnail" width="75" height="75" src="@Url.Action("GetImage", "Product", new { Model.ProductID })" />
        </div>
    }



    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">
            @Model.Price.ToString("c")
        </span>
    </h3>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.ProductID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart" />
        </div>
    }
    <span class="lead"> @Model.Description</span>
</div>*@
<div class="col-sm-3 col-md-3 thumbnail" style="margin:10px">
    <div>
        <img src="http://alexgurghis.com/themes/e-comm-aventador/wp-content/uploads/2012/01/three-proj-3-150x150.png" width="100%" height="100%" alt="...">
        <div class="caption">
            <h4><strong>@Model.Name</strong></h4>
            <p>@Model.Description</p>
        </div>
        <span class="pull-left label label-primary">
            @Model.Price.ToString("c")
        </span>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to cart" />
            </div>
        }

    </div>
</div>
