@model SportsStore.Domain.Entities.Product


<div class="col-sm-3 col-md-3 thumbnail" style="margin:10px">
    <div>
        <img src=@Model.ImagePath width="100%" height="200px" alt="..." />
        <div class="caption">
            <h4><strong>@Model.Name</strong></h4>
            <p>@Model.Description</p>
        </div>
        <span class="pull-left label label-primary">
            @Model.Price.ToString("c")
        </span>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-sm btn-success" value="Add to cart" />
            </div>
        }
    </div>
</div>
