@model SportsStore.WebUI.Models.ProductSpecificationDetails

<div class="panel-body">
    <h4>
        Create/Edit Specification for Table @(Model.ProductSpecOrder+1)        
    </h4>
    <div class="form-group">
        @Html.Label("Specification Heading:", new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBox("lstProductSpecificationDetails[" + Model.ProductSpecOrder as string + "].ProductSpecHeading", Model.ProductSpecHeading, new { id = "ProductSpecificationDetails_" + @ViewBag.Iterator as string + "__ProductSpecHeading", @class = "form-control" })
            @*@Html.TextBox("[" + Model.ProductSpecOrder as string + "].ProductSpecHeading", Model.ProductSpecHeading, new { id = "lstProductSpecificationDetails_" + @ViewBag.Iterator as string + "__ProductSpecHeading", @class = "form-control" })*@
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Specification Order:", new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBox("lstProductSpecificationDetails[" + Model.ProductSpecOrder as string + "].ProductSpecOrder", Model.ProductSpecOrder, new { id = "lstProductSpecificationDetails_" + @ViewBag.Iterator as string + "__ProductSpecOrder", @class = "form-control" })
            @*@Html.TextBox("[" + Model.ProductSpecOrder as string + "].ProductSpecOrder", Model.ProductSpecOrder, new { id = "lstProductSpecificationDetails_" + @ViewBag.Iterator as string + "__ProductSpecOrder", @class = "form-control" })*@
        </div>
    </div>

    <div class="divInterests">
        @* Dynamic ID needs to be integerated in the below line *@
        <table id="@ViewBag.TableIndexNo" class="col-xs-6">
            <tr>
                <th>Product Specification</th>
                <th>Product Specification Value</th>
            </tr>
            @if (Model.ProductConfigurationDetails != null)
            {
                for (int iterator = 0; iterator < Model.ProductConfigurationDetails.Count; iterator++)
                {
                    <tr>
                        <td style="padding:5px">@Html.TextBox("lstProductSpecificationDetails[" + Model.ProductSpecOrder as string + "].ProductConfigurationDetails[" + iterator + "].SubHead", Model.ProductConfigurationDetails[iterator].SubHead, new { id = "lstProductSpecificationDetails_" + Model.ProductSpecOrder as string + "__ProductConfigurationDetails_" + iterator + "__SubHead", @class = "form-control col-xs-5" })</td>
                        <td style="padding:5px">@Html.TextBox("lstProductSpecificationDetails[" + Model.ProductSpecOrder as string + "].ProductConfigurationDetails[" + iterator + "].SubSpec", Model.ProductConfigurationDetails[iterator].SubSpec, new { id = "lstProductSpecificationDetails_" + Model.ProductSpecOrder as string + "__ProductConfigurationDetails_" + iterator + "__SubSpec", @class = "form-control col-xs-5" })</td>
                    </tr>

                    @*<tr>
                            <td style="padding:5px">@Html.TextBox("[" + Model.ProductSpecOrder as string + "].ProductConfigurationDetails[" + iterator + "].SubHead", Model.ProductConfigurationDetails[iterator].SubHead, new { id = "lstProductSpecificationDetails_" + Model.ProductSpecOrder as string + "__ProductConfigurationDetails_" + iterator + "__SubHead", @class = "form-control col-xs-5" })</td>
                            <td style="padding:5px">@Html.TextBox("[" + Model.ProductSpecOrder as string + "].ProductConfigurationDetails[" + iterator + "].SubSpec", Model.ProductConfigurationDetails[iterator].SubSpec, new { id = "lstProductSpecificationDetails_" + Model.ProductSpecOrder as string + "__ProductConfigurationDetails_" + iterator + "__SubSpec", @class = "form-control col-xs-5" })</td>
                        </tr>*@


                }
            }
        </table>
        @* Dynamic ID needs to be integerated in the below line *@
        <div class="col-xs-12" style="padding:5px">
            <input type="button" id="@ViewBag.ButtonAddIndex" value="Add New Item" class="btn-primary" />
        </div>
    </div>

</div>

@* Dynamic ID needs to be integerated in the below line *@
<script type="text/javascript">
    $("@ViewBag.ButtonAddIndexJSID").on("click", function (e) {
        var itemIndex = $("@ViewBag.TableIndexNoJSID tr").length;
        e.preventDefault();
        console.debug("ItemIndex = " + itemIndex);
        var newItem = $("<tr><td style='padding:5px'><input class='form-control' type='text' id='lstProductSpecificationDetails_" + @Model.ProductSpecOrder + "__ProductConfigurationDetails_" + (itemIndex - 1) + "__SubHead' name='lstProductSpecificationDetails[" +@Model.ProductSpecOrder +"].ProductConfigurationDetails[" + (itemIndex - 1) + "].SubHead'/></td><td style='padding:5px'><input class='form-control' type='text' id='lstProductSpecificationDetails_" + @Model.ProductSpecOrder + "__ProductConfigurationDetails_" + (itemIndex - 1) + "__SubSpec' name='lstProductSpecificationDetails[" +@Model.ProductSpecOrder +"].ProductConfigurationDetails[" + (itemIndex - 1) + "].SubSpec'></td></tr>");
        //var newItem = $("<tr><td style='padding:5px'><input class='form-control' type='text' id='lstProductSpecificationDetails_" + @Model.ProductSpecOrder + "__ProductConfigurationDetails_" + (itemIndex - 1) + "__SubHead' name='[" +@Model.ProductSpecOrder +"].ProductConfigurationDetails[" + (itemIndex - 1) + "].SubHead'/></td><td style='padding:5px'><input class='form-control' type='text' id='lstProductSpecificationDetails_" + @Model.ProductSpecOrder + "__ProductConfigurationDetails_" + (itemIndex - 1) + "__SubSpec' name='[" +@Model.ProductSpecOrder +"].ProductConfigurationDetails[" + (itemIndex - 1) + "].SubSpec'></td></tr>");
        debugger;
        $("@ViewBag.TableIndexNoJSID").append(newItem);
    });
</script>