@model SportsStore.Domain.Entities.Product

@using System.Linq;
@{
    SportsStore.Domain.Entities.Attribute attributeWarranty = null;
    IEnumerable<SportsStore.Domain.Entities.Attribute> lstKeyFeatures = null;
    if (Model.Attributes != null)
    {
        attributeWarranty = Model.Attributes.FirstOrDefault(p => p.AttributeType.Equals("Warranty"));
        lstKeyFeatures = Model.Attributes.Where(p => p.AttributeType.Equals("KeyFeatures"));
    }
}
<div class="panel-body product-pallete">
    <div class="col-md-5 container">
        @*<div style="width:auto;height:200px"><img src="@Model.Images.FirstOrDefault().MediumImage" style="width:70%;height:100%" /></div>*@
        @Html.Partial("Partial/General/_ProductImageSlider")
    </div>
    <div class="col-md-7" style="height:inherit;padding-left:10px;border-left:1px solid green;">
        <p style="font-size:1.25em;">@Model.Name</p>
        <p style="font-size:1em;">@Model.ShortDescription</p>
        <div class="col-md-12 product-pallete-reviewStrip">
            <div class="col-md-5"><div id="stars-existing" class="starrr col-md-6" data-rating='4'></div><div class="col-md-6" style="padding-left:0">156 Ratings</div></div>
            <div class="col-md-3"><i class="fa fa-comments"></i> 86 Reviews</div>
            <div class="col-md-4"><i class="fa fa-pencil fa-rotate-270"></i> Write a Review</div>
        </div>

        <div class="col-md-12 row">
            <div class="col-md-6">
                @if (lstKeyFeatures.Count() < 6)
                {
                    <p>
                        <ul class="fa-ul">
                            @foreach (var item in lstKeyFeatures)
                            {
                                <li style="font-size:0.9em"><i class="fa-li fa fa-chevron-right"></i>@item.AttributeValue</li>
                            }
                        </ul>
                    </p>
                }
            </div>

            @if (attributeWarranty != null)
            {
                <div class="col-md-6" style="padding-top:10px">
                    <span style="font-size:1.2em">Warranty</span>
                    <p>@attributeWarranty.AttributeValue</p>
                </div>
            }
        </div>
        <div class="col-md-12">
            <div class="col-md-5" style="padding:0">
                @Html.Label("Check Availability at your place: ")
            </div>
            <div class="col-md-4" style="padding-left:0">
                @Html.TextBox("Pincode", null, new { placeholder = "Enter your Pincode", @class = "form-control input-sm btn-sharp" })
            </div>
            <div class="col-md-3" style="padding-left:10px">
                <button type="submit" class="btn btn-sharp" style="background-color:#303030;color:white;line-height:1;padding:7px 10px"><i class="fa fa-check"></i> Check</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6" style="padding-left:0px">
                <p>MRP: <span style="text-decoration:line-through"><i class="fa fa-inr"></i> @Model.UnitPrice</span></p>
                <p>Discount: <span class="badge" style="color:white;background-color:#1b5e20">@((int)Model.UnitPrice / (int)Model.AltPrice)%</span></p>
                <p>Offer Price: <i class="fa fa-inr"></i> @Model.AltPrice</p>
                @using (Html.BeginForm("AddToCart", "Cart"))
                {
                    @Html.HiddenFor(x => x.ProductID)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <div class="col-md-12" style="padding-left:0"><button class="btn btn-sharp btn-addtocart">ADD TO CART</button></div>
                }

            </div>
            <div class="col-md-6" style="padding:0">
                <div class="col-md-12">DELIVERED BY: Usually Delivered in 2-3 business days.</div>
            </div>
        </div>

    </div>

</div>
