@model SportsStore.Domain.Entities.Product

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h2 style="color:#00B4E1">Edit @Model.Name</h2>
    </div>


    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="panel-body">

            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ProductID)

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "ProductID":
                        break;
                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "Description")
                            {
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 5 })
                            }
                            else if(property.ModelType.Name == "Boolean")
                            {
                                @Html.CheckBox(property.PropertyName, new { @class="checkbox"})                               
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName,null, new { @class = "form-control" })
                            }
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                            break;
                }
            }           

            <div class="panel-footer">
                    <input type="submit" value="Save" class="btn btn-primary" />
                <input type="button" value="Proceed to Product Specification Page" class="btn btn-primary" />
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>    
</div>