@model List<SportsStore.Domain.Entities.CustomerAddress>
@using Microsoft.AspNet.Identity

<div class="col-md-12 col-xs-12">
    @foreach (var item in Model)
    {

        <div class="col-md-5 no-padding" style="border:1px solid #0D47A1;margin-bottom:10px;margin:10px">
            <div class="col-md-12" style="background-color:#0D47A1;color:white;padding:5px">
                <div class="col-md-5">
                    @item.Name
                </div>
                <div class="col-md-7 text-right">
                    @if (item.IsBillingAddress == true)
                    {
                        <span>Billing Address</span>
                    }
                    else
                    {
                        <span>Shipping Address</span>
                    }
                </div>
            </div>
            <div class="col-md-12">
                @item.Address<br />
                @item.City.CityName<br />
                @item.State.StateName<br />
                @item.Country.CountryName<br />
                @item.PostalCode
            </div>
            <div class="col-md-12" style="background-color:#0D47A1;color:white;padding:5px">
                <span style="padding-left:5px;padding-right:5px"><i class="fa fa-edit"></i></span>Edit
                <span style="padding-left:5px;padding-right:5px"><i class="fa fa-trash"></i></span>Delete
                <span style="padding-left:5px;padding-right:5px"><i class="fa fa-gift"></i></span>Ship to this place
            </div>
        </div>

    }
    <div class="col-md-12 text-center">
        <a href="" class="btn btn-red btn-sharp" data-toggle="modal" data-target="#addressForm"><i class="fa fa-plus-circle"></i> ADD ADDRESS</a>
    </div>
</div>
@* Code for Address Modal window below *@
<div class="modal fade in" id="addressForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">ADD ADDRESS</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("Partial/_CreateEditSingleAddressForm", new SportsStore.Domain.Entities.CustomerAddress() { CustomerID = Convert.ToInt32(User.Identity.GetUserId()) })
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>