@model List<SportsStore.Domain.Entities.CustomerAddress>
@using Microsoft.AspNet.Identity

<div class="col-md-12 col-xs-12">
    @foreach (var item in Model)
    {

        <div class="col-md-5 no-padding" id="Container_@item.CustomerAddressID" style="border:1px solid #0D47A1;margin-bottom:10px;margin:10px">
            <div class="col-md-12" style="background-color:#0D47A1;color:white;padding:5px">
                <div class="col-md-5">
                    @item.Name
                </div>
                <div class="col-md-7 text-right">
                    @if (item.IsBillingAddress == true)
                    {
                        <span>Billing Address</span>
                    }
                    else
                    {
                        <span>Shipping Address</span>
                    }
                </div>
            </div>
            <div class="col-md-12">
                @item.Address<br />
                @item.City.CityName<br />
                @item.State.StateName<br />
                @item.Country.CountryName<br />
                @item.PostalCode
            </div>
            <div class="col-md-12" style="background-color:#0D47A1;color:white;padding:5px">
                <span style="padding-left:5px;padding-right:5px"><i class="fa fa-edit"></i></span>@Html.ActionLink("Edit", "CreateEditAddress", new { CustomerAddressID = item.CustomerAddressID, returnURL = Request.Url.PathAndQuery })
                <span style="padding-left:5px;padding-right:5px"><i class="fa fa-trash"></i></span>@Html.ActionLink("Delete", "DeleteAddress", new { CustomerAddressID = item.CustomerAddressID, returnURL = Request.Url.PathAndQuery })
                <span style="padding-left:5px;padding-right:5px" id="ShipTo_@item.CustomerAddressID"><i class="fa fa-gift"></i></span>
                <input type="radio" id="radio_@item.CustomerAddressID" name="radios" value="all" checked>
                <label for="radio_@item.CustomerAddressID">Ship to this place</label>
                 
            </div>
        </div>
        <script>
            $("#ShipTo_@item.CustomerAddressID").click(function () {
                $("#Container_@item.CustomerAddressID").css('-moz-box-shadow', '0 0 10px #ccc');
                $("#Container_@item.CustomerAddressID").css('-webkit-box-shadow', '0 0 10px #ccc');
                $("#Container_@item.CustomerAddressID").css('box-shadow', '0 0 10px #ccc');
            });
        </script>

    }
    <div class="col-md-12 text-center">
        @Html.ActionLink("ADD ADDRESS", "CreateEditAddress", new { controller = "Cart", returnURL = Request.Url.PathAndQuery }, new { @class = "btn btn-red btn-sharp" })
        @*<a href="" class="btn btn-red btn-sharp" data-toggle="modal" data-target="#addressForm"><i class="fa fa-plus-circle"></i> ADD ADDRESS</a>*@
    </div>
</div>