@model SportsStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "SportStore: Checkout";
}
<script>
    $(document).ready(function () {
        $('#AccountCreateCheckBox').click(function () {
            if ($(this).prop("checked") == true) {
                $("#AccountCreation").fadeIn(300);
            }
            else if ($(this).prop("checked") == false) {
                $("#AccountCreation").fadeOut("slow");
            }
        });
        if ($('#ShippingDetailsCheckBox').prop("checked"))
        {
            $("#ShippingDetails").show();
        }
        else {
            $("#ShippingDetails").hide();
        }
        $('#ShippingDetailsCheckBox').click(function () {
            if ($(this).prop("checked") == true) {
                $("#ShippingDetails").fadeIn(300);
            }
            else if ($(this).prop("checked") == false) {
                $("#ShippingDetails").fadeOut("slow");
            }
        });
    });
</script>
<h2>Check out now</h2>

@using (Html.BeginForm("Checkout","Cart",FormMethod.Post))
{
    if (User.Identity.IsAuthenticated)
    {

    }
    else
    {
        @Html.Partial("Partial/_GuestCheckoutForm", Model)
    }
    <div class="col-md-12" style="background-color:#F4F4F4;padding:10px 10px 10px 15px">
        <span>Returning customer? <a>Click here to login</a></span>
    </div>
    
    <div class="col-md-12 col-xs-12">
        <div class="col-md-12 text-left"><h3>YOUR ORDER</h3></div>
        <div class="col-md-12 col-xs-12 no-padding">
            @*<div class="col-md-6 col-xs-6">*@
            <div class="col-md-12 text-left btn-quickview">
                <h5>ORDER SUMMARY</h5>
            </div>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tr><td class="col-md-6">Order Subtotal</td><td><i class="fa fa-rupee"></i>25,248.00</td></tr>
                <tr><td class="col-md-6">Handling and Shipping</td><td>Free Shipping</td></tr>
                <tr><td class="col-md-6">Order Total</td><td><i class="fa fa-rupee"></i>25,248.00</td></tr>
            </table>
            @*</div>*@
        </div>

    </div>
    <div class="col-md-12">
        <div class="bs-example">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Direct Bank Transfer</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Cheque Payment</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                PayPal
                                <img src="~/Content/images/cart-image-icons/paypal_objects.png" />
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 text-center">
        <button class="btn btn-sharp btn-quickview" type="submit">
            PLACE ORDER
        </button>
    </div>
}


@*Outdated textbook code
    @Html.ValidationSummary()
    <h3>Ship to</h3>
    <div class="form-group">
        <label>Name:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <h3>Address</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }
    <h3>Options</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Gift wrap these items
        </label>
    </div>
    <div class="text-center">
        <input class="btn btn-primary btn-sharp" type="submit" value="Complete order" />
    </div>*@

