@model SportsStore.WebUI.Models.CheckOutViewModel

@{
    ViewBag.Title = "SportStore: Checkout";
}
<script>
    $(document).ready(function () {
        $('#AccountCreateCheckBox').click(function () {
            if ($(this).prop("checked") == true) {
                $("#AccountCreation").fadeIn(200);
            }
            else if ($(this).prop("checked") == false) {
                $("#AccountCreation").fadeOut(200);
            }
        });
        if ($('#ShippingDetailsCheckBox').prop("checked"))
        {
            $("#ShippingDetails").show();
        }
        else {
            $("#ShippingDetails").hide();
        }
        $('#ShippingDetailsCheckBox').click(function () {
            if ($(this).prop("checked") == true) {
                $("#ShippingDetails").fadeIn(200);
            }
            else if ($(this).prop("checked") == false) {
                $("#ShippingDetails").fadeOut(200);
            }
        });
        if($('#AccountCreateCheckBox').prop("checked"))
        {
            $('#AccountCreation').show();
        }
        else {
            $('#AccountCreation').hide();
        }
        $('#AccountCreateCheckBox').click(function () {
            if ($(this).prop("checked") == true) {
                $("#AccountCreation").fadeIn(200);
            }
            else if ($(this).prop("checked") == false) {
                $("#AccountCreation").fadeOut(200);
            }
        });
        $('#LoginFormToggle').click(function () {
            $('#LoginForm').slideToggle(200);
        });
    });
</script>
<h2>Check out now</h2>
@if (User.Identity.IsAuthenticated)
{

}
else
{
    <div class="col-md-12 col-xs-12" style="background-color:#F4F4F4;padding:10px 10px 10px 15px">
        <span>Returning customer? <span id="LoginFormToggle" style="color:#01579b;padding-left:5px;cursor:pointer">Click here to login</span></span>
    </div>
    using (Html.BeginForm("RegisterUser", "Account", FormMethod.Post))
    {
        <div id="LoginForm" class="col-md-12 col-xs-12">
            <div class="padding-10">If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</div>
            <div class="col-md-12 col-xs-12 padding-10">
                <div class="col-md-6 col-xs-12">
                    <label>Username or email *</label>
                    @Html.TextBox("Username", null, new { @class = "form-control btn-sharp", placeholder = "Username/E-mail" })
                </div>
                <div class="col-md-6 col-xs-12">
                    <label>Password *</label>
                    @Html.TextBox("Password", null, new { @class = "form-control btn-sharp", placeholder = "Password" })
                </div>
                <div class="col-md-12 col-xs-12 text-left" style="padding:10px 10px 10px 15px">
                    @Html.Hidden("ReturnUrl", Request.Url.PathAndQuery)
                    <button id="Login" class="btn-addtocart btn btn-sharp" type="submit">LOGIN</button>
                    <div class="col-md-12 no-padding">@Html.CheckBox("Rememberme")<span style="padding-left:5px">Remember me</span></div>
                </div>
            </div>
        </div>
    }
}


@using (Html.BeginForm("Checkout","Cart",FormMethod.Post))
{
    if (User.Identity.IsAuthenticated)
    {

    }
    else
    {
        @Html.Partial("Partial/_GuestCheckoutForm", Model)
    }
   
    
    <div class="col-md-12 col-xs-12">
        <div class="col-md-12 text-left"><h3>YOUR ORDER</h3></div>
        <div class="col-md-12 col-xs-12 no-padding">
            @*<div class="col-md-6 col-xs-6">*@
            <div class="col-md-12 text-left btn-quickview">
                <h5>ORDER SUMMARY</h5>
            </div>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tr><td class="col-md-6">Order Subtotal</td><td><i class="fa fa-rupee"></i>25,248.00</td></tr>
                <tr><td class="col-md-6">Handling and Shipping</td><td>Free Shipping</td></tr>
                <tr><td class="col-md-6">Order Total</td><td><i class="fa fa-rupee"></i>25,248.00</td></tr>
            </table>
            @*</div>*@
        </div>

    </div>
    <div class="col-md-12">
        <div class="bs-example">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Direct Bank Transfer</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Cheque Payment</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                PayPal
                                <img src="~/Content/images/cart-image-icons/paypal_objects.png" />
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 text-center">
        <button class="btn btn-sharp btn-quickview" type="submit">
            PLACE ORDER
        </button>
    </div>
}


@*Outdated textbook code
    @Html.ValidationSummary()
    <h3>Ship to</h3>
    <div class="form-group">
        <label>Name:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <h3>Address</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }
    <h3>Options</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Gift wrap these items
        </label>
    </div>
    <div class="text-center">
        <input class="btn btn-primary btn-sharp" type="submit" value="Complete order" />
    </div>*@

