@model SportsStore.WebUI.Models.CartIndexViewModel
@{
    ViewBag.Title = "Sports Store: Your Cart";
}
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>
<h2>Your cart</h2>
<table id="cartTable" class="table table-hover">
    <thead>
        <tr class="grey-background">
            <th class="col-md-4">Item</th>
            <th class="text-center col-md-2">Quantity</th>
            <th class="text-right col-md-2">Price</th>
            <th class="text-right col-md-2">Subtotal</th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("UpdateCart", "Cart", FormMethod.Post, new { id = "ProductCartForm" }))
        {
            int i = 0;
            foreach (var line in Model.Cart.Lines)
            {
                @Html.Hidden("lstProductCartList[" + i + "].ProductID", line.Product.ProductID)
                <tr>
                    <td class="text-left">@line.Product.Name</td>
                    @{ string numberStepDownID = "numberStepDown" + i;
                     string numberStepUpID = "numberStepUp" + i;
                     string cartQuantity = "cartQuantity" + i;

                    }
                    <td class="text-center col-md-4">
                        <div class="col-xs-12">
                            <div class="col-xs-3 text-right" style="padding:0px;margin-right:-2px;color:#0D47A1"><button id="@numberStepDownID" class="input-sm btn btn-sharp" style="line-height:1;vertical-align:middle"><i class="fa fa-minus"></i></button></div>
                            <div class="col-xs-6 text-left" style="padding:0px;margin-left:-2px">@Html.TextBox("lstProductCartList[" + i + "].Quantity", line.Quantity, new { type = "number", id = cartQuantity, step = "1", min = "0", @class = "form-control btn-sharp input-sm" })</div>
                            <div class="col-xs-3 text-left" style="padding:0px;color:#042981"><button id="@numberStepUpID" class="input-sm btn btn-sharp" style="line-height:1"><i class="fa fa-plus"></i></button></div>
                            <script type="text/javascript">
                                $("#@numberStepDownID").click(function () {                                    
                                    var val = $('#@cartQuantity').val();
                                    $('#@cartQuantity').val((val * 1) - 1);
                                });
                                $("#@numberStepUpID").click(function () {                                    
                                    var val = $('#@cartQuantity').val();
                                    $('#@cartQuantity').val((val * 1) + 1);
                                });
                            </script>

                        </div>
                    </td>
                    <td class="text-right col-md-2">
                        @line.Product.AltPrice.ToString("c")
                    </td>
                    <td class="text-right col-md-2">
                        @((line.Quantity * line.Product.AltPrice).ToString("c"))
                    </td>
                    <td class="col-md-4">
                        @Html.ActionLink("Remove", "RemoveFromCart", new { controller = "Cart", ProductID = line.Product.ProductID, returnUrl = Model.ReturnUrl }, new { @class = "btn btn-sm btn-red btn-sharp" })
                    </td>
                </tr>
                     { i++; }
            }
            @Html.Hidden("ReturnURL", Request.Url.PathAndQuery)
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="cart-action-control container">
    <div class="col-md-5 col-xs-5 no-padding">
        <div class="col-md-6 no-padding">
            <div class="col-md-8 no-padding">
                <input type="text" placeholder="Coupon Code" class="form-control btn-sharp" />
            </div>
            <div class="col-md-4" style="padding:0px;margin-left:-2px">
                <button class="btn btn-sharp btn-addtocart">
                    APPLY COUPON
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-xs-7 text-right">
        <button class="btn btn-quickview btn-sharp" id="UpdateCart">
            UPDATE CART
        </button>
        <a class="btn btn-quickview btn-sharp" href="@Model.ReturnUrl">
            CONTINUE SHOPPING
        </a>
        @Html.ActionLink("CHECKOUT NOW", "Checkout", null, new { @class = "btn btn-quickview btn-sharp" })
    </div>
</div>
<hr />
<div class="col-md-12 col-xs-12 no-padding">
    <div class="col-md-6 col-xs-6">
        <div class="col-md-12 text-left btn-addtocart">
            <h4>CART SUMMARY</h4>
        </div>
        <table class="table table-bordered table-condensed table-hover table-striped">
            <tr><td>Cart Subtotal</td><td>@Model.Cart.ComputeTotalValue().ToString()</td></tr>
            <tr><td>Handling and Shipping</td><td>Free Shipping</td></tr>
            <tr><td>Order Total</td><td>@Model.Cart.ComputeTotalValue().ToString()</td></tr>
        </table>
    </div>
</div>
<script>
    $("#UpdateCart").click(function () {
        $("#ProductCartForm").submit();
    });

</script>



