@model IEnumerable<SportsStore.Domain.Entities.ProductCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategoryOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategoryOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { ProductCategoryID = item.ProductCategoryID }) |
            @Html.ActionLink("Details", "Details", new { ProductCategoryID = item.ProductCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { ProductCategoryID = item.ProductCategoryID })
        </td>
    </tr>
}

</table>
