@model SportsStore.Domain.ViewModels.ProductSpecificationViewModel
@{
    ViewBag.Title = "ProductSpecification";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Product Specification Edit Page</h2>
    </div>

    @using (Html.BeginForm("Edit", "ProductSpecification", FormMethod.Post, new { id = "ProductSpecificationEditForm", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.ProductID)
        @*<div class="form-group">
            @Html.LabelFor(l => l.ProductID, new { @class = "col-xs-2 control-label" })
            <div class="col-xs-6">
                @Html.DropDownList("ProductID", ViewBag.ProductDropDown as IEnumerable<SelectListItem>, new { @class = "form-control" })
            </div>
        </div>*@
        for (int iterator = 0; iterator < Model.lstProductSpecificationDetails.Count(); iterator++)
        {
            if (Model.lstProductSpecificationDetails[iterator] != null)
            {
                ViewBag.TableIndexNo = "SpecificationList_" + Model.lstProductSpecificationDetails[iterator].ProductSpecOrder;
                ViewBag.ButtonAddIndex = "btnAddRow_" + Model.lstProductSpecificationDetails[iterator].ProductSpecOrder;
                ViewBag.TableIndexNoJSID = "#" + ViewBag.TableIndexNo as String;
                ViewBag.ButtonAddIndexJSID = "#" + ViewBag.ButtonAddIndex as string;
                ViewBag.Iterator = iterator;
                <div class="panel-body">
                    <hr />
                    @Html.Partial("Partial/ProductSpecification", Model.lstProductSpecificationDetails[iterator])
                    <hr />
                </div>
            }
        }
    }
    <div class="panel-footer">
        <input type="button" id="btnAddTbl" value="Add new Table" class="btn-primary" style="margin:5px" />
        <p>
            <input id="submit" type="submit" value="Save" class="btn-primary" style="margin:5px" />
        </p>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#btnAddTbl").click(function (e) {
            var itemIndex = $("#SpecificationList tr").length;
            var itemTables = $("#ProductSpecificationEditForm").find("table").length;
            e.preventDefault();
            console.debug("Table ItemIndex = " + itemIndex);
            console.debug("Table Number = " + itemTables);
            $.get('@Url.Action("NewSpecificationTable", "ProductSpecification")/?TableIndex=' + itemTables, function (data) {
                $('#ProductSpecificationEditForm').append(data);
            });
        });
    });
    $(function () {
        $("#submit").click(function (e) {
            $("#ProductSpecificationEditForm").submit();
        });
    });
</script>
